@using TestProject.UserService.Dto

@{
    var result = (List<UsersOutput>)ViewBag.ModelList;
    var qqInfo = Session["QQLOGIN"] as UsersOutput;
    var i = 0;
}


<div class="panel">
    <div class="page-header" style="text-align: center;">
        @if (qqInfo == null)
        {
            <span>
               @* <input type="button" value="注册" class="btn-warning" onclick="javascript:window.location.href = '/Task/Register/'" style="margin-right: 20px;" />*@
                <input type="button" value="登录" class="btn-warning" onclick="javascript: window.location.href = '/Task/Login/'" />
            </span>
        }
        else
        {
            <span class="v-span1 v-font1 left">当前用户：@qqInfo.Account &nbsp; &nbsp;</span>

            <span class="v-span1 v-font1 left">账号为：@qqInfo.UserName</span>
            <a href="/Task/LoginOut" class="bl">【退出】</a>
            if (qqInfo.State)
            {
                <div>
                    <input type="button" value="杨颖" class="btn-danger" onclick="javascript: window.location.href = '/Task/PlayPage/'"/>
                </div>
            }
            else
            {
                <div>
                    <span>很抱歉！你的帐号没有审核通过,请联系管理员!(QQ:641656975)</span>
                </div>
            }
        }
        @*</div>*@
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Panel heading</div>
        <div class="panel-body">
            <p>该列表为平台所有用户。页面上有隐藏内容。请注册登录帐号，并找管理员通过审核！</p>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>编号</th>
                    <th>QQ</th>
                    <th>帐号</th>
                    <th>是否审核通过</th>
                    <th>备注</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in result)
                {
                    i ++;
                    <tr>
                        <th>@i</th>
                        <th>@item.Account</th>
                        <th>@item.UserName</th>
                        <th>@(item.State==false?"没有通过":"通过")</th>
                        <th>@item.Remark</th>
                    </tr>

                }
            </tbody>
        </table>
    </div>
    </div>
